 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    color: #D04F4F;
    font-size: 21px;
}
.page-width {
    width: 90%;
    margin: auto;
}
.input-wrapper{
    width: 100%;
    position: relative;
}
input{
    width: 100%;
    height: 69px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px;
    padding: 20px;
}

input::placeholder{
    color: rgb(170, 170, 170);
}
.filters{
    margin-top: 30px;
}
.active-filters-wrapper{
    margin-bottom: 10px;
}

.search-icon{
    position: absolute;
    right:2rem;
    top: 25%;
    font-size: 30px;
    height: 100%;
}
.active-filters {
    list-style: none;
    display: flex;
}
.ingredients-active-filter{
    border-radius: 5px;
    background-color: #3282F7;
    color: white;
    padding: 15px;
    margin-right: 10px;
}
.appareils-active-filter{
    border-radius: 5px;
    background-color: #68D9A4;
    color: white;
    padding: 15px;
    margin-right: 10px;
}
.ustensiles-active-filter{
    border-radius: 5px;
    background-color: #ED6454;
    color: white;
    padding: 15px;
    margin-right: 10px;
}

.close{
    padding-left: 15px;
    cursor: pointer;
}
.card-wrapper{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    margin-bottom: 100px;
    width: 31.5%;
    height: 364px;
    background-color: #C7BEBE;
    border-radius: 5px;
    position: relative;
}
.card-bottom{
    position: absolute;
    height: 200px;
    width: 100%;
    top: 50%;
    background-color: #E7E7E7;
    padding: 20px;
    border-radius: 5px;
}
.card-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.card-header h2{
    font-size: 18px;
    font-weight: 300;
}

.card-body{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 13px;
}
.card-body ul{
    list-style: none;
    width: 45%;
}
.card-body p {
    width: 50%;
    max-height: 120px;
}
.card-body ul, .card-body p {
    max-height: 100px;
    overflow-y: auto;
}



.ingredients-drawer, .appareils-drawer, .ustensiles-drawer {
    display: none;
}
@media screen and (min-width: 900px) {
    .ingredients-drawer, .appareils-drawer, .ustensiles-drawer {
        width: 500px;
    }
}
@media screen and (max-width: 800px) {
    .ingredients-drawer, .appareils-drawer, .ustensiles-drawer {
        max-width: 300px;
    }
}
.ingredients, .ingredients-drawer{
    background-color: #3282F7;
}
.appareils, .appareils-drawer{
    background-color: #68D9A4; 
}
.ustensiles, .ustensiles-drawer{
    background-color: #ED6454;
}
.filters-wrapper{
    width: 100%;
    display: flex;
}
.filter-common{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    border-radius: 10px;
    position: relative;
    max-width: 500px;
}
.filter-common p{
    margin-right: 10px;
}

.filter-common div{
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    padding: 10px;
}
.filter-common div ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.filter-common div ul li {
    width: 125px;
}

.show {
    display: block;
}

@media screen and (min-width: 900px) {
    [data-drawer-Width="show3"] {
        width: 500px;
    }
    [data-drawer-Width="show2"] {
        width: 300px;
    } 
    [data-drawer-Width="show1"] {
        width: 140px;
    }
    [data-button-Margin="margin3"] {
        margin-right: 400px;
    }
    [data-button-Margin="margin2"] {
        margin-right: 200px;
    }
    [data-button-Margin="margin1"] {
        margin-right: 40px;
    }
}